/* Estilos generales para el Navbar */
.navbar {
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto */
    padding: 0; /* Espaciado interior del Navbar */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

/* Estilos del logotipo del Navbar */

.logo img {
    width: 30%; /* Cambia el ancho máximo según el tamaño de tu imagen */
    margin: 0;
    padding: 5px;
}
.logo:hover {
    text-decoration: none;
}

/* Estilos de los enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #ff7d2d;
    text-decoration: none;
}



.nav-links a:hover {
    text-decoration: underline;
    color: white;
}

.carrusel{
    margin-top: 50px;
}
/* Estilos personalizados para el contenedor del carrusel */
#miCarrusel {
    width: 70%; /* Reducir el ancho al 70% del ancho de la ventana del navegador */
    height: auto;
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Estilos personalizados para las imágenes en el carrusel */
.carousel-inner img {
    width: 100%; /* Hacer que la imagen ocupe todo el ancho del carrusel */
    height: auto; /* Ajustar la altura automáticamente para mantener la proporción */
}
/* Estilos personalizados para los botones del carrusel */
.carousel-control-prev, .carousel-control-next {
    width: 40%; /* Ajustar el ancho automáticamente según el contenido */
    
}

